html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    background-image: url("assets/full-bloom.png");

  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    height: 60px;
    border-top: 6px solid #4aaaa5;
    margin-top: 100px;
    font-size: 15px;
    padding: 10px 0px 30px;
    /*  line-height: 40px; */
}

@keyframes colorchange {
    0%   {background-color: #ee7674;}
    4%  {background-color: #e8708d;}
    8%  {background-color: #e36da7;}
    12%  {background-color: #dd69c0;}
    16% {background-color: #d765d7;}
    20% {background-color: #b462d2;}
    24% {background-color: #935ecc;}
    28% {background-color: #735bc6;}
    32% {background-color: #575ac1;}
    36% {background-color: #5471bb;}
    40% {background-color: #5187b5;}
    44% {background-color: #4d9cb0;}
    48% {background-color: #4aaaa5;}
    52% {background-color: #4aaaa5;}
    56% {background-color: #4d9cb0;}
    60% {background-color: #5187b5;}
    64% {background-color: #5471bb;}
    68% {background-color: #575ac1;}
    72% {background-color: #735bc6;}
    76% {background-color: #935ecc;}
    80% {background-color: #b462d2;}
    84% {background-color: #d765d7;}
    88%  {background-color: #dd69c0;}
    92%  {background-color: #e36da7;}
    96%  {background-color: #e8708d;}
    100%   {background-color: #ee7674;}

 }

/* .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
} */ 
  
    
    header {
        background-color: white;
    }
    
    #name {
        background-color: #4aaaa5;
        color: white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        /* height: 100px; */
        line-height: 100px;
        font-size: 30px;
        text-align: center;
        animation: colorchange 60s infinite;
    }


    

    p {
        text-align: center;
        align-content: center;
    }

    #head {
        background:white;
        border-bottom: 1px solid #cccccc;
    }

     .main {
        background: white;
        padding: 15px;
        height: auto;
        
    } 

    #main {
        /* background-image: url("assets/full-bloom.png"); */
        padding: 20px;
        margin-top: 20px;
    }


    #biophoto {
        margin: 10px 25px 5px 5px;
    }

    @media only screen and (max-width: 768px) {
        #biophoto {
            width: 100%;
        }
    }

  .folio-img {
       margin-bottom: 25px;
       width: 100%;
   } 

   .folio-label {
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
    font-weight: bold; 
    position: absolute;
    top: 100px; 
    width: inherit;
   }

   #nav {
       font-family: Arial, Helvetica, sans-serif;
       background: lightblue;
       display: flex;
       vertical-align: middle;
       margin-top: 20px;
       margin-bottom: 20px;

   }

   .nav-link {
        color: grey;
      /*  display: inline-block; */
   }

   .nav-link:hover {
       color: #4aaaa5;
   }

   .title {
     color: #4aaaa5;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
   }

   p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #666666;
   }

   .card-label {
       position: relative;
       background-color: #4aaaa5;
       color: white;
       text-align: center;
       top: -100px;
       font-size: 16px;
       width: 100%;
       padding: 5px;
       font-family: Georgia, 'Times New Roman', Times, serif;
   }

   form {
       font-family: Arial, Helvetica, sans-serif;
   }

   .hvr-underline-menu {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #EE7674;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-menu:hover:before, .hvr-underline-menu:focus:before, .hvr-underline-menu:active:before {
    right: 0;
  }